*.o
*.bak
client/build/
a.out
build.sh
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
release/**
debug/**
nohup.out
vec.opt
ttdata.capnp.c++
ttdata.capnp.h
cp_tags.capnp.c++
cp_tags.capnp.h
setup_capnp.py
